@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    background: #f0f4fb;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.site-container {
    margin: 2rem auto;
    max-width: calc(100% - 80px);
}
.task-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 2rem;
}
.task-image {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.task-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}
.task-card {
    background: white;
    border-radius: 20px;
    transition: 0.3s;
}
.task-card:hover {
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    cursor: pointer;
}
.task-content {
    padding: 2rem;
}
.task-content .card-title {
    margin: 1rem 0;
    color: #22447b;
}
.task-content .card-list {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
}